* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    font-size: 32px;
    background: rgb(22, 13, 61);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    color: white;
    transition: .5s;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li:hover {
    background: white;
    color: black;
}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.5)), url(/images/MainBackground.PNG);
    background-position: center;
    height: calc(100vh - 56px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: whitesmoke;
    text-align: center;
}

.hero-text h2 {
    font-size: 55px
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .hero-image {
        height: calc(100vh - 224px)
    }
}